.errors {
    color: #bf1650;
}
.errors::before {
    display: inline;
    content: "⚠ ";
}
.loading {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 50;
}