.me {
    text-align: center;
    font-size: 25px;
    color: red;
}
.logofl {
    text-align: center;
}
.logofl img {
    width: 50px;
}
.cfl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}