.contedor-header {
    background: #1a2a2e;
    padding: 7px;
    color: #fff;
}
.menu {
    position: static;
    width: auto;
    height: auto;
    transform: translateX(0%);
    float: right;
    display: flex;
    background: transparent;
    border: none;
}
.menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    line-height: normal;
    font-size: 18px;
    font-weight: bold;
    transition-duration: 500ms;
    border-bottom: solid 1px #1f7388;
}
.menu a:hover {
    background: #1f7388;
    border-radius: 5px;
}